# Performing Database-style Operations on Dataframes

## About the data
In this notebook, we will using daily weather data that was taken from the [National Centers for Environmental Information (NCEI) API](https://www.ncdc.noaa.gov/cdo-web/webservices/v2). The [`0-weather_data_collection.ipynb`](./0-weather_data_collection.ipynb) notebook contains the process that was followed to collect the data. Consult the dataset's [documentation](https://www1.ncdc.noaa.gov/pub/data/cdo/documentation/GHCND_documentation.pdf) for information on the fields.

*Note: The NCEI is part of the National Oceanic and Atmospheric Administration (NOAA) and, as you can see from the URL for the API, this resource was created when the NCEI was called the NCDC. Should the URL for this resource change in the future, you can search for "NCEI weather API" to find the updated one.*


## Setup

In [1]:
import pandas as pd

weather = pd.read_csv('data/nyc_weather_2018.csv')
weather.head(n=30)

                   date datatype            station attributes  value
0   2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1   2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2   2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3   2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4   2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0
5   2018-01-01T00:00:00     SNWD  GHCND:US1NJBG0017      T,,N,    0.0
6   2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0018       ,,N,    0.0
7   2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0018       ,,N,    0.0
8   2018-01-01T00:00:00     SNWD  GHCND:US1NJBG0018       ,,N,    3.0
9   2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0023       ,,N,    0.0
10  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0023       ,,N,    0.0
11  2018-01-01T00:00:00     SNWD  GHCND:US1NJBG0023       ,,N,   25.0
12  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0030       ,,N,    0.0
13  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0039       ,,N,    0.0
14  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0039       ,,N,    0.0
15  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0044       ,,N,    0.0
16  2018-01-01T00:00:00     PRCP  GHCND:US1NJES0018       ,,N,    0.0
17  2018-01-01T00:00:00     SNOW  GHCND:US1NJES0018       ,,N,    0.0
18  2018-01-01T00:00:00     PRCP  GHCND:US1NJES0024       ,,N,    0.0
19  2018-01-01T00:00:00     SNOW  GHCND:US1NJES0024       ,,N,    0.0
20  2018-01-01T00:00:00     SNWD  GHCND:US1NJES0024       ,,N,    0.0
21  2018-01-01T00:00:00     PRCP  GHCND:US1NJMD0043       ,,N,    0.0
22  2018-01-01T00:00:00     SNOW  GHCND:US1NJMD0043       ,,N,    0.0
23  2018-01-01T00:00:00     PRCP  GHCND:US1NJMD0045       ,,N,    0.0
24  2018-01-01T00:00:00     SNOW  GHCND:US1NJMD0045       ,,N,    0.0
25  2018-01-01T00:00:00     PRCP  GHCND:US1NJMD0062      T,,N,    0.0
26  2018-01-01T00:00:00     SNOW  GHCND:US1NJMD0062      T,,N,    0.0
27  2018-01-01T00:00:00     SNWD  GHCND:US1NJMD0062       ,,N,    0.0
28  2018-01-01T00:00:00     WESF  GHCND:US1NJMD0062      T,,N,    0.0
29  2018-01-01T00:00:00     PRCP  GHCND:US1NJMD0066       ,,N,    0.0

## Querying DataFrames
The `query()` method is an easier way of filtering based on some criteria. For example, we can use it to find all entries where snow was recorded from a station with `US1NY` in its station ID:

In [2]:
#with loc
weather.loc[(weather.datatype == "SNOW") & (weather.value > 0) & (weather.station.str.contains("US1NY"))]

                      date datatype            station attributes  value
125    2018-01-01T00:00:00     SNOW  GHCND:US1NYWC0019       ,,N,   25.0
816    2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0007       ,,N,   41.0
821    2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0018       ,,N,   10.0
825    2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0024       ,,N,   89.0
827    2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0030       ,,N,  102.0
...                    ...      ...                ...        ...    ...
70797  2018-11-16T00:00:00     SNOW  GHCND:US1NYRL0005       ,,N,  170.0
70803  2018-11-16T00:00:00     SNOW  GHCND:US1NYWC0018       ,,N,  191.0
77264  2018-12-14T00:00:00     SNOW  GHCND:US1NYWC0018       ,,N,    3.0
79587  2018-12-24T00:00:00     SNOW  GHCND:US1NYWC0018       ,,N,   18.0
80952  2018-12-30T00:00:00     SNOW  GHCND:US1NYWC0018       ,,N,    5.0

[189 rows x 5 columns]

In [3]:
# .query method
snow_data = weather.query('datatype == "SNOW" and value > 0 and station.str.contains("US1NY").values')
snow_data.head()

                    date datatype            station attributes  value
125  2018-01-01T00:00:00     SNOW  GHCND:US1NYWC0019       ,,N,   25.0
816  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0007       ,,N,   41.0
821  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0018       ,,N,   10.0
825  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0024       ,,N,   89.0
827  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0030       ,,N,  102.0

This is equivalent to querying the `weather.db` SQLite database for 

```sql
SELECT * 
FROM weather 
WHERE datatype == "SNOW" AND value > 0 AND station LIKE "%US1NY%"
```

In [4]:
import sqlite3

with sqlite3.connect('data/weather.db') as connection:
    snow_data_from_db = pd.read_sql(
        'SELECT * FROM weather WHERE datatype == "SNOW" AND value > 0 and station LIKE "%US1NY%"', 
        connection
    )

snow_data.reset_index().drop(columns='index').equals(snow_data_from_db)

True

Note this is also equivalent to creating Boolean masks:

In [5]:
weather[
    (weather.datatype == 'SNOW') 
    & (weather.value > 0)
    & weather.station.str.contains('US1NY')
].equals(snow_data)

True

## Merging DataFrames
We have data for many different stations each day; however, we don't know what the stations are&mdash;just their IDs. We can join the data in the `weather_stations.csv` file which contains information from the `stations` endpoint of the NCEI API. Consult the [`0-weather_data_collection.ipynb`](./0-weather_data_collection.ipynb) notebook to see how this was collected. It looks like this:

In [6]:
station_info = pd.read_csv('data/weather_stations.csv')
station_info.head()

,id,name,latitude,longitude,elevation
0,GHCND:US1CTFR0022,"STAMFORD 2.6 SSW, CT US",41.064100,-73.577000,36.6
1,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
2,GHCND:US1NJBG0001,"BERGENFIELD 0.3 SW, NJ US",40.921298,-74.001983,20.1
3,GHCND:US1NJBG0002,"SADDLE BROOK TWP 0.6 E, NJ US",40.902694,-74.083358,16.8
4,GHCND:US1NJBG0003,"TENAFLY 1.3 W, NJ US",40.914670,-73.977500,21.6

As a reminder, the weather data looks like this:

In [7]:
weather.head()

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

We can join our data by matching up the `station_info.id` column with the `weather.station` column. Before doing that though, let's see how many unique values we have:

In [8]:
station_info.id.describe()

count                   292
unique                  292
top       GHCND:US1CTFR0022
freq                      1
Name: id, dtype: object

While `station_info` has one row per station, the `weather` dataframe has many entries per station. Notice it also has fewer uniques:

In [9]:
weather.station.describe()

count                 81309
unique                  113
top       GHCND:USW00094789
freq                   4270
Name: station, dtype: object

When working with joins, it is important to keep an eye on the row count. Some join types will lead to data loss. Remember that we can get this with `shape`:

In [10]:
station_info.shape[0], weather.shape[0]

(292, 81309)

In [11]:
station_info.shape, weather.shape

((292, 5), (81309, 5))

Since we will be doing this often, it makes more sense to write a function:

In [12]:
def get_row_count(*dfs):
    return [df.shape[0] for df in dfs]

get_row_count(station_info, weather)

[292, 81309]

By default, `merge()` performs an inner join. We simply specify the columns to use for the join. The left dataframe is the one we call `merge()` on, and the right one is passed in as an argument:

In [13]:
inner_join = weather.merge(station_info, left_on='station', right_on='id')
inner_join.sample(5, random_state=0)

,date,datatype,station,attributes,value,id,name,latitude,longitude,elevation
57062,2018-07-06T00:00:00,WSF5,GHCND:USW00054787,",,W,",12.5,GHCND:USW00054787,"FARMINGDALE REPUBLIC AIRPORT, NY US",40.734430,-73.416370,22.8
43428,2018-11-15T00:00:00,SNOW,GHCND:USC00308577,",,7,",0.0,GHCND:USC00308577,"SYOSSET, NY US",40.821600,-73.490800,80.8
67382,2018-07-27T00:00:00,PRCP,GHCND:USW00094745,",,W,2400",10.7,GHCND:USW00094745,"WESTCHESTER CO AIRPORT, NY US",41.062360,-73.704540,112.9
18924,2018-03-21T00:00:00,PRCP,GHCND:US1NJUN0003,",,N,",0.8,GHCND:US1NJUN0003,"LINDEN 2.2 NW, NJ US",40.641210,-74.272595,19.8
73657,2018-12-07T00:00:00,SNOW,GHCND:US1NJHD0002,",,N,",0.0,GHCND:US1NJHD0002,"KEARNY 1.7 NW, NJ US",40.772892,-74.140926,29.0

We can remove the duplication of information in the `station` and `id` columns by renaming one of them before the merge and then simply using `on`:

In [14]:
weather.merge(station_info.rename(dict(id='station'), axis=1), on='station').sample(5, random_state=0)

,date,datatype,station,attributes,value,name,latitude,longitude,elevation
57062,2018-07-06T00:00:00,WSF5,GHCND:USW00054787,",,W,",12.5,"FARMINGDALE REPUBLIC AIRPORT, NY US",40.734430,-73.416370,22.8
43428,2018-11-15T00:00:00,SNOW,GHCND:USC00308577,",,7,",0.0,"SYOSSET, NY US",40.821600,-73.490800,80.8
67382,2018-07-27T00:00:00,PRCP,GHCND:USW00094745,",,W,2400",10.7,"WESTCHESTER CO AIRPORT, NY US",41.062360,-73.704540,112.9
18924,2018-03-21T00:00:00,PRCP,GHCND:US1NJUN0003,",,N,",0.8,"LINDEN 2.2 NW, NJ US",40.641210,-74.272595,19.8
73657,2018-12-07T00:00:00,SNOW,GHCND:US1NJHD0002,",,N,",0.0,"KEARNY 1.7 NW, NJ US",40.772892,-74.140926,29.0

We are losing stations that don't have weather observations associated with them, if we don't want to lose these rows, we perform a right or left join instead of the inner join:

In [15]:
left_join = station_info.merge(weather, left_on='id', right_on='station', how='left')
left_join[left_join.datatype.isna()].head()

,id,name,latitude,longitude,elevation,date,datatype,station,attributes,value
0,GHCND:US1CTFR0022,"STAMFORD 2.6 SSW, CT US",41.064100,-73.577000,36.6,NaN,NaN,NaN,NaN,NaN
344,GHCND:US1NJBG0001,"BERGENFIELD 0.3 SW, NJ US",40.921298,-74.001983,20.1,NaN,NaN,NaN,NaN,NaN
345,GHCND:US1NJBG0002,"SADDLE BROOK TWP 0.6 E, NJ US",40.902694,-74.083358,16.8,NaN,NaN,NaN,NaN,NaN
734,GHCND:US1NJBG0005,"WESTWOOD 0.8 ESE, NJ US",40.983041,-74.015858,15.8,NaN,NaN,NaN,NaN,NaN
735,GHCND:US1NJBG0006,"RAMSEY 0.6 E, NJ US",41.058611,-74.134068,112.2,NaN,NaN,NaN,NaN,NaN

In [16]:
right_join = weather.merge(station_info, left_on='station', right_on='id', how='right')

right_join[right_join.datatype.isna()].head()

,date,datatype,station,attributes,value,id,name,latitude,longitude,elevation
0,NaN,NaN,NaN,NaN,NaN,GHCND:US1CTFR0022,"STAMFORD 2.6 SSW, CT US",41.064100,-73.577000,36.6
344,NaN,NaN,NaN,NaN,NaN,GHCND:US1NJBG0001,"BERGENFIELD 0.3 SW, NJ US",40.921298,-74.001983,20.1
345,NaN,NaN,NaN,NaN,NaN,GHCND:US1NJBG0002,"SADDLE BROOK TWP 0.6 E, NJ US",40.902694,-74.083358,16.8
734,NaN,NaN,NaN,NaN,NaN,GHCND:US1NJBG0005,"WESTWOOD 0.8 ESE, NJ US",40.983041,-74.015858,15.8
735,NaN,NaN,NaN,NaN,NaN,GHCND:US1NJBG0006,"RAMSEY 0.6 E, NJ US",41.058611,-74.134068,112.2

The left and right join as we performed above are equivalent because the side for which we kept the rows without matches was the same in both cases:

In [17]:
left_join.sort_index(axis=1).sort_values(['date', 'station'], ignore_index=True).equals(
    right_join.sort_index(axis=1).sort_values(['date', 'station'], ignore_index=True)
)

True

Note we have additional rows in the left and right joins because we kept all the stations that didn't have weather observations:

In [18]:
get_row_count(inner_join, left_join, right_join)

[81309, 81488, 81488]

If we query the station information for stations that have `US1NY` in their ID and perform an outer join, we can see where the mismatches occur:

In [19]:
outer_join = weather.merge(
    station_info[station_info.id.str.contains('US1NY')], 
    left_on='station', right_on='id', how='outer', indicator=True
)

pd.concat([
    outer_join.query(f'_merge == "{kind}"').sample(2, random_state=0) 
    for kind in outer_join._merge.unique()
]).sort_index()

,date,datatype,station,attributes,value,id,name,latitude,longitude,elevation,_merge
8670,2018-03-05T00:00:00,SNOW,GHCND:US1NJMN0010,",,N,",0.0,NaN,NaN,NaN,NaN,NaN,left_only
24351,2018-02-27T00:00:00,PRCP,GHCND:US1NYNS0042,",,N,",0.0,GHCND:US1NYNS0042,"ALBERTSON 0.2 SSE, NY US",40.769131,-73.647484,43.3,both
31148,2018-12-30T00:00:00,WESF,GHCND:US1NYWC0018,",,N,",0.5,GHCND:US1NYWC0018,"ARMONK 0.3 SE, NY US",41.129960,-73.708161,117.3,both
46874,2018-10-10T00:00:00,WT01,GHCND:USW00014732,",,W,",1.0,NaN,NaN,NaN,NaN,NaN,left_only
81311,NaN,NaN,NaN,NaN,NaN,GHCND:US1NYNS0001,"BETHPAGE 0.9 NNW, NY US",40.762313,-73.492033,43.9,right_only
81333,NaN,NaN,NaN,NaN,NaN,GHCND:US1NYWC0032,"BRIARCLIFF MANOR 1.3 NE, NY US",41.150120,-73.823290,91.7,right_only

These joins are equivalent to their SQL counterparts. Below is the inner join. Note that to use `equals()` you will have to do some manipulation of the dataframes to line them up:

In [20]:
import sqlite3

with sqlite3.connect('data/weather.db') as connection:
    inner_join_from_db = pd.read_sql(
        'SELECT * FROM weather JOIN stations ON weather.station == stations.id', 
        connection
    )

inner_join_from_db.shape == inner_join.shape

True

Revisiting the dirty data from chapter 3's [`5-handling_data_issues.ipynb`](../ch_03/5-handling_data_issues.ipynb) notebook.

Data meanings:
- `PRCP`: precipitation in millimeters
- `SNOW`: snowfall in millimeters
- `SNWD`: snow depth in millimeters
- `TMAX`: maximum daily temperature in Celsius
- `TMIN`: minimum daily temperature in Celsius
- `TOBS`: temperature at time of observation in Celsius
- `WESF`: water equivalent of snow in millimeters


Read in the data, dropping duplicates and the uninformative `SNWD` column:

In [21]:
dirty_data = pd.read_csv(
    'data/dirty_data.csv', index_col='date'
).drop_duplicates().drop(columns='SNWD')
dirty_data.head()

,station,PRCP,SNOW,TMAX,TMIN,TOBS,WESF,inclement_weather
date,,,,,,,,
2018-01-01T00:00:00,?,0.0,0.0,5505.0,-40.0,NaN,NaN,NaN
2018-01-02T00:00:00,GHCND:USC00280907,0.0,0.0,-8.3,-16.1,-12.2,NaN,False
2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-4.4,-13.9,-13.3,NaN,False
2018-01-04T00:00:00,?,20.6,229.0,5505.0,-40.0,NaN,19.3,True
2018-01-05T00:00:00,?,0.3,NaN,5505.0,-40.0,NaN,NaN,NaN

We need to create two dataframes for the join. We will drop some unecessary columns as well for easier viewing:

In [22]:
valid_station = dirty_data.query('station != "?"').drop(columns=['WESF', 'station'])
station_with_wesf = dirty_data.query('station == "?"').drop(columns=['station', 'TOBS', 'TMIN', 'TMAX'])

In [23]:
valid_station

                     PRCP   SNOW  TMAX  TMIN  TOBS inclement_weather
date
2018-01-02T00:00:00   0.0    0.0  -8.3 -16.1 -12.2             False
2018-01-03T00:00:00   0.0    0.0  -4.4 -13.9 -13.3             False
2018-01-05T00:00:00  14.2  127.0  -4.4 -13.9 -13.9              True
2018-01-06T00:00:00   0.0    0.0 -10.0 -15.6 -15.0             False
2018-01-07T00:00:00   0.0    0.0 -11.7 -17.2 -16.1             False
...                   ...    ...   ...   ...   ...               ...
2018-12-21T00:00:00  42.9    0.0  14.4  -4.4  13.9             False
2018-12-22T00:00:00  12.2    0.0  16.1   6.7   6.7             False
2018-12-27T00:00:00   0.0    0.0   5.6  -2.2  -1.1             False
2018-12-28T00:00:00  11.7    0.0   6.1  -1.7   5.0             False
2018-12-31T00:00:00   0.0    0.0   3.3  -3.3  -2.8             False

[247 rows x 6 columns]

In [24]:
station_with_wesf

                     PRCP   SNOW  WESF inclement_weather
date
2018-01-01T00:00:00   0.0    0.0   NaN               NaN
2018-01-04T00:00:00  20.6  229.0  19.3              True
2018-01-05T00:00:00   0.3    NaN   NaN               NaN
2018-01-12T00:00:00   0.5    NaN   NaN               NaN
2018-01-13T00:00:00  17.5    NaN   NaN               NaN
...                   ...    ...   ...               ...
2018-11-13T00:00:00  25.1    NaN   NaN               NaN
2018-11-16T00:00:00  47.0  152.0  24.9              True
2018-11-25T00:00:00  38.1    NaN   NaN               NaN
2018-12-16T00:00:00  19.1    NaN   NaN               NaN
2018-12-28T00:00:00  11.4    NaN   NaN               NaN

[62 rows x 4 columns]

Our column for the join is the index in both dataframes, so we must specify `left_index` and `right_index`:

In [25]:
valid_station.merge(
    station_with_wesf, how='left', left_index=True, right_index=True
).query('WESF > 0').head()

,PRCP_x,SNOW_x,TMAX,TMIN,TOBS,inclement_weather_x,PRCP_y,SNOW_y,WESF,inclement_weather_y
date,,,,,,,,,,
2018-01-30T00:00:00,0.0,0.0,6.7,-1.7,-0.6,False,1.5,13.0,1.8,True
2018-03-08T00:00:00,48.8,NaN,1.1,-0.6,1.1,False,28.4,NaN,28.7,NaN
2018-03-13T00:00:00,4.1,51.0,5.6,-3.9,0.0,True,3.0,13.0,3.0,True
2018-03-21T00:00:00,0.0,0.0,2.8,-2.8,0.6,False,6.6,114.0,8.6,True
2018-04-02T00:00:00,9.1,127.0,12.8,-1.1,-1.1,True,14.0,152.0,15.2,True

The columns that existed in both dataframes, but didn't form part of the join got suffixes added to their names: `_x` for columns from the left dataframe and `_y` for columns from the right dataframe. We can customize this with the `suffixes` argument:

In [26]:
valid_station.merge(
    station_with_wesf, how='left', left_index=True, right_index=True, suffixes=('', '_?')
).query('WESF > 0').head()

,PRCP,SNOW,TMAX,TMIN,TOBS,inclement_weather,PRCP_?,SNOW_?,WESF,inclement_weather_?
date,,,,,,,,,,
2018-01-30T00:00:00,0.0,0.0,6.7,-1.7,-0.6,False,1.5,13.0,1.8,True
2018-03-08T00:00:00,48.8,NaN,1.1,-0.6,1.1,False,28.4,NaN,28.7,NaN
2018-03-13T00:00:00,4.1,51.0,5.6,-3.9,0.0,True,3.0,13.0,3.0,True
2018-03-21T00:00:00,0.0,0.0,2.8,-2.8,0.6,False,6.6,114.0,8.6,True
2018-04-02T00:00:00,9.1,127.0,12.8,-1.1,-1.1,True,14.0,152.0,15.2,True

Since we are joining on the index, an easier way is to use the `join()` method instead of `merge()`. Note that the suffix parameter is now `lsuffix` for the left dataframe's suffix and `rsuffix` for the right one's:

In [27]:
valid_station.join(station_with_wesf, how='left', rsuffix='_?').query('WESF > 0').head()

,PRCP,SNOW,TMAX,TMIN,TOBS,inclement_weather,PRCP_?,SNOW_?,WESF,inclement_weather_?
date,,,,,,,,,,
2018-01-30T00:00:00,0.0,0.0,6.7,-1.7,-0.6,False,1.5,13.0,1.8,True
2018-03-08T00:00:00,48.8,NaN,1.1,-0.6,1.1,False,28.4,NaN,28.7,NaN
2018-03-13T00:00:00,4.1,51.0,5.6,-3.9,0.0,True,3.0,13.0,3.0,True
2018-03-21T00:00:00,0.0,0.0,2.8,-2.8,0.6,False,6.6,114.0,8.6,True
2018-04-02T00:00:00,9.1,127.0,12.8,-1.1,-1.1,True,14.0,152.0,15.2,True

Joins can be very resource-intensive, so it's a good idea to figure out what type of join you need using set operations before trying the join itself. The `pandas` set operations are performed on the index, so whichever columns we will be joining on will need to be the index. Let's go back to the `weather` and `station_info` dataframes and set the station ID columns as the index:

In [28]:
weather.set_index('station', inplace=True)
station_info.set_index('id', inplace=True)

In [31]:
station_info.head()

,name,latitude,longitude,elevation
id,,,,
GHCND:US1CTFR0022,"STAMFORD 2.6 SSW, CT US",41.064100,-73.577000,36.6
GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
GHCND:US1NJBG0001,"BERGENFIELD 0.3 SW, NJ US",40.921298,-74.001983,20.1
GHCND:US1NJBG0002,"SADDLE BROOK TWP 0.6 E, NJ US",40.902694,-74.083358,16.8
GHCND:US1NJBG0003,"TENAFLY 1.3 W, NJ US",40.914670,-73.977500,21.6

In [33]:
weather.head()

                                  date datatype attributes  value
station
GHCND:US1CTFR0039  2018-01-01T00:00:00     PRCP       ,,N,    0.0
GHCND:US1NJBG0015  2018-01-01T00:00:00     PRCP       ,,N,    0.0
GHCND:US1NJBG0015  2018-01-01T00:00:00     SNOW       ,,N,    0.0
GHCND:US1NJBG0017  2018-01-01T00:00:00     PRCP       ,,N,    0.0
GHCND:US1NJBG0017  2018-01-01T00:00:00     SNOW       ,,N,    0.0

The intersection will tell us the stations that are present in both dataframes. The result will be the index when performing an inner join:

In [32]:
weather.index.intersection(station_info.index)

Index(['GHCND:US1CTFR0039', 'GHCND:US1NJBG0015', 'GHCND:US1NJBG0017',
       'GHCND:US1NJBG0018', 'GHCND:US1NJBG0023', 'GHCND:US1NJBG0030',
       'GHCND:US1NJBG0039', 'GHCND:US1NJBG0044', 'GHCND:US1NJES0018',
       'GHCND:US1NJES0024',
       ...
       'GHCND:USC00284987', 'GHCND:US1NJES0031', 'GHCND:US1NJES0029',
       'GHCND:US1NJMD0086', 'GHCND:US1NJMS0097', 'GHCND:US1NJMN0081',
       'GHCND:US1NJMD0088', 'GHCND:US1NJES0033', 'GHCND:US1NJES0040',
       'GHCND:US1NYQN0029'],
      dtype='object', length=113)

The set difference will tell us what we lose from each side. When performing an inner join, we lose nothing from the `weather` dataframe:

In [35]:
weather.index.difference(station_info.index)

Index([], dtype='object')

We lose 169 stations from the `station_info` dataframe, however:

In [36]:
station_info.index.difference(weather.index)

Index(['GHCND:US1CTFR0022', 'GHCND:US1NJBG0001', 'GHCND:US1NJBG0002',
       'GHCND:US1NJBG0005', 'GHCND:US1NJBG0006', 'GHCND:US1NJBG0008',
       'GHCND:US1NJBG0011', 'GHCND:US1NJBG0012', 'GHCND:US1NJBG0013',
       'GHCND:US1NJBG0020',
       ...
       'GHCND:USC00308322', 'GHCND:USC00308749', 'GHCND:USC00308946',
       'GHCND:USC00309117', 'GHCND:USC00309270', 'GHCND:USC00309400',
       'GHCND:USC00309466', 'GHCND:USC00309576', 'GHCND:USW00014708',
       'GHCND:USW00014786'],
      dtype='object', length=179)

The symmetric difference tells us what we lose from both sides. It is the combination of the set differences in each direction:

In [37]:
ny_in_name = station_info[station_info.index.str.contains('US1NY')]

In [38]:
ny_in_name.head()

                                      name   latitude  longitude  elevation
id
GHCND:US1NYBX0025      BRONX 1.5 NE, NY US  40.859856 -73.845694       14.9
GHCND:US1NYKN0003   BROOKLYN 2.4 SW, NY US  40.619380 -73.985920        7.9
GHCND:US1NYKN0025   BROOKLYN 3.1 NW, NY US  40.684600 -73.986700        5.5
GHCND:US1NYNS0001  BETHPAGE 0.9 NNW, NY US  40.762313 -73.492033       43.9
GHCND:US1NYNS0006   LEVITTOWN 0.2 E, NY US  40.724460 -73.508590       27.1

In [49]:
ny_in_name = station_info[station_info.index.str.contains('US1NY')]

ny_in_name.index.difference(weather.index).shape[0]\
+ weather.index.difference(ny_in_name.index).shape[0]\
== weather.index.symmetric_difference(ny_in_name.index).shape[0]

True

The union will show us everything that will be present after a full outer join. Note that we pass in the unique values of the index to make sure we can see the number of stations we will be left with:

In [50]:
weather.index.unique().union(station_info.index)

Index(['GHCND:US1CTFR0022', 'GHCND:US1CTFR0039', 'GHCND:US1NJBG0001',
       'GHCND:US1NJBG0002', 'GHCND:US1NJBG0003', 'GHCND:US1NJBG0005',
       'GHCND:US1NJBG0006', 'GHCND:US1NJBG0008', 'GHCND:US1NJBG0010',
       'GHCND:US1NJBG0011',
       ...
       'GHCND:USW00014708', 'GHCND:USW00014732', 'GHCND:USW00014734',
       'GHCND:USW00014786', 'GHCND:USW00054743', 'GHCND:USW00054787',
       'GHCND:USW00094728', 'GHCND:USW00094741', 'GHCND:USW00094745',
       'GHCND:USW00094789'],
      dtype='object', length=292)

In [53]:
weather.index.union(station_info.index)

Index(['GHCND:US1CTFR0022', 'GHCND:US1CTFR0039', 'GHCND:US1CTFR0039',
       'GHCND:US1CTFR0039', 'GHCND:US1CTFR0039', 'GHCND:US1CTFR0039',
       'GHCND:US1CTFR0039', 'GHCND:US1CTFR0039', 'GHCND:US1CTFR0039',
       'GHCND:US1CTFR0039',
       ...
       'GHCND:USW00094789', 'GHCND:USW00094789', 'GHCND:USW00094789',
       'GHCND:USW00094789', 'GHCND:USW00094789', 'GHCND:USW00094789',
       'GHCND:USW00094789', 'GHCND:USW00094789', 'GHCND:USW00094789',
       'GHCND:USW00094789'],
      dtype='object', length=81488)

Note that the symmetric difference is actually the union of the set differences:

In [51]:
ny_in_name = station_info[station_info.index.str.contains('US1NY')]

ny_in_name.index.difference(weather.index).union(weather.index.difference(ny_in_name.index)).equals(
    weather.index.symmetric_difference(ny_in_name.index)
)

True

<hr>
<div>
    <a href="../ch_03/5-handling_data_issues.ipynb">
        <button>&#8592; Chapter 3</button>
    </a>
    <a href="./0-weather_data_collection.ipynb">
        <button>Weather Data Collection</button>
    </a>
    <a href="./2-dataframe_operations.ipynb">
        <button style="float: right;">Next Notebook &#8594;</button>
    </a>
</div>
<hr>